ServerModel implementation Issue

Hi, we would like you to look at an issue in the `ServerModel.cs` implementation.

Consider the following zone file:
|     |     |     |
|---|---|---|
| example.com | SOA | ns1.campus.edu. root.campus.edu. 3 86400 7200 604800 300|
| example.com | NS | ns1.outside.edu. |
|*.example.com| AAAA | ::1 |
|c.b.a.example.com| A | 1.1.1.1 |

And query: c.%.a.example.com  A
Now, **Bind 9.18 would generate a NXDOMAIN response** (as we've tested).

---

However, according to the logic in `TestGenerator/Authoritative/ServerModel.cs`, especially in the `GetRelevantRRs()` function:
```c#
public static Zen<IList<ResourceRecord>> GetRelevantRRs(Zen<Query> q, Zen<Zone> z)
        {
            Zen<IList<ResourceRecord>> relevantRecords = z.GetRecords().Where(r => Or(Utils.IsPrefix(r.GetRName(), q.GetQName()), Utils.IsDomainWildcardMatch(q.GetQName(), r.GetRName())));
            Zen<DomainName> zoneDomain = z.GetRecords().Where(r => r.GetRType() == RecordType.SOA).At(0).Value().GetRName();
            Zen<IList<ResourceRecord>> nsRelevantRecords = relevantRecords.Where(r => And(r.GetRType() == RecordType.NS, r.GetRName() != zoneDomain));
            Zen<IList<ushort>> maximalMatches = relevantRecords.Select(r => Utils.MaximalPrefixMatch(r.GetRName(), q.GetQName()));
            Zen<IList<ResourceRecord>> maxMaximalMatches = relevantRecords.Where(r => Utils.MaximalPrefixMatch(r.GetRName(), q.GetQName()) == MaxofList(maximalMatches));
            Zen<IList<ResourceRecord>> wildcardRecords = maxMaximalMatches.Where(r => Utils.IsDomainWildcardMatch(q.GetQName(), r.GetRName()));

            return If(
                relevantRecords.IsEmpty(),
                new List<ResourceRecord> { },
                If(
                    nsRelevantRecords.IsEmpty(),
                    If(
                        wildcardRecords.IsEmpty(),
                        maxMaximalMatches,
                        wildcardRecords),
                    nsRelevantRecords));
        }
```
`relevantRecords` would be either matching wildcard records, or existent records that are prefixes of the query. In the above case, `relevantRecords` should **only** contain the first three records, and because `nsRelevantRecords` doesn't accept NS records with the same name as the zone name, the returned records should contain **only** the wildcard record. And the final response from the model would be a NOERROR, the answer section of which is the wildcard AAAA record.

---

Having referred to [RFC 1034 Section 4.3.2](https://www.rfc-editor.org/rfc/rfc1034#section-4.3.2), we think that the intended behavior should be this: by matching down, label by label, the server should get to node `a.example.com`, an [empty non-terminal](https://www.rfc-editor.org/rfc/rfc4592#section-2.2.2). Then, because label `%` doesn't match and no wildcard is present, the matching should abort, and NXDOMAIN should be returned. Namely, the `ServerModel.cs` implementation looks incorrect to us.

We discovered this issue when testing with our reference DNS model that was based on the implementation in `ServerModel.cs`. What do you think?


Hi @EchoStone1101, Thanks for checking out, Ferret. 

We handled empty non-terminals as per the RFCs by using a type that can occur only in records (type `N`).  Please check this [note](https://github.com/dns-groot/groot#note) and the updated [paper](https://www.sivak.dev/assets/pdf/sigcomm20_groot.pdf), which discusses about the prefix-closed property to hold for a zone file to be considered valid. 
We have a shim layer that removes such `N` records from the tests generated by the Ferret test generation module when we translate the domain names from integers to strings.
 
The following test demonstrates it:
```c#
      public void TestZoneValidity()
      {
          var function = Function<Zone, bool>(ZoneExtensions.IsValidZoneForRRLookup);

          var soa = new ResourceRecord
          {
              RName = new DomainName { Value = new List<byte> { 0, 2 } },
              RType = RecordType.SOA,
              RData = new DomainName { Value = new List<byte> { } },
          };

          var ns = new ResourceRecord
          {
              RName = new DomainName { Value = new List<byte> { 0, 2 } },
              RType = RecordType.NS,
              RData = new DomainName { Value = new List<byte> { 6, 7, 8 } },
          };

          var wildcard = new ResourceRecord
          {
              RName = new DomainName { Value = new List<byte> { 0, 2, 1 } },
              RType = RecordType.AAAA,
              RData = new DomainName { Value = new List<byte> { } },
          };

          var ip = new ResourceRecord
          {
              RName = new DomainName { Value = new List<byte> { 0, 2, 3, 4, 5 } },
              RType = RecordType.A,
              RData = new DomainName { Value = new List<byte> {  } },
          };

          var z = Zone.Create(new List<ResourceRecord> { soa, ns, wildcard, ip });
          Assert.AreEqual(z.IsValidZoneForRRLookup(), false);

          var ent1 = new ResourceRecord
          {
              RName = new DomainName { Value = new List<byte> { 0, 2, 3 } },
              RType = RecordType.N,
              RData = new DomainName { Value = new List<byte> { } },
          };

          Zone zn = new Zone { Records = new List<ResourceRecord> { soa, ns, wildcard, ip, ent1 } };
          Assert.IsFalse(function.Evaluate(zn));

          var ent2 = new ResourceRecord
          {
              RName = new DomainName { Value = new List<byte> { 0, 2, 3, 4 } },
              RType = RecordType.N,
              RData = new DomainName { Value = new List<byte> { } },
          };

          zn = new Zone { Records = new List<ResourceRecord> { soa, ns, wildcard, ip, ent1, ent2 } };
          Assert.IsTrue(function.Evaluate(zn));

          var relevant = Function<Query, Zone, IList<ResourceRecord>>(ServerModel.GetRelevantRRs);
          var result = relevant.Evaluate(new Query { QName = new DomainName { Value = new List<byte> { 0, 2, 3, 9, 5 } }, QType = RecordType.A }, zn);
          Assert.IsTrue(result.Count() == 1);
          Assert.IsTrue(ent1.Equals(result.First()));
      }
```


