N record subtlety

Hi, thanks for your quick response to our [question](https://github.com/dns-groot/Ferret/issues/3) the other day. We continued along the line with our own testing framework, and found a further subtlety, concerning how Ferret currently handles type N records.

---
```c#
public static Zen<bool> NRecordCheck(Zen<IList<ResourceRecord>> nRecords, Zen<IList<ResourceRecord>> zoneRecords)
{
         return nRecords.All(nr => And(
                zoneRecords.Where(r => r.GetRName() == nr.GetRName()).Length() == 1,
                zoneRecords.Any(r => And(
                    Utils.IsPrefix(nr.GetRName(), r.GetRName()),
                    r.GetRType() != RecordType.N))));
}
```
As far as we are concerned, the above constraints enforce type N records at empty non-terminals. The logic is: an N record has a unique name, and is a proper prefix of a non-empty record.
However, consider the following zone (omitting root SOA/NS):
| | | | |
|---|---|---|---|
|*.a.|  IN |  A| 1.1.1.1 |
|b.*.a.|  IN |  A| 2.2.2.2 |

and query `c.*.a.   A`. Problem is: as `*.a.` already exists as a wildcard record, it will not be added as a type N record even when `b.*.a.` exists. Yet, in record `b.*.a.` and query `c.*.a.`, the asterisk is only an ordinary label, and thus the RFC response should be NXDOMAIN. In Ferret, as `*.a.` is a wildcard record, it would match and respond NOERROR.
This subtle behavior of wildcard DNS record is specified on [wikipedia](https://en.wikipedia.org/wiki/Wildcard_DNS_record) (the last section of "Example usages"). [RFC 4592 Section 2.3](https://www.rfc-editor.org/rfc/rfc4592#section-2.3) also hinted it.

What do you think?

That is not true. It would respond with Tag `R2` which is NXDOMAIN and not NOERROR. You can try it out yourself, but here is the test code:

```c#
      public void TestZoneValidity()
        {
            var function = Function<Zone, bool>(ZoneExtensions.IsValidZoneForRRLookup);

            var soa = new ResourceRecord
            {
                RName = new DomainName { Value = new List<byte> { 0, 2 } },
                RType = RecordType.SOA,
                RData = new DomainName { Value = new List<byte> { } },
            };

            var ns = new ResourceRecord
            {
                RName = new DomainName { Value = new List<byte> { 0, 2 } },
                RType = RecordType.NS,
                RData = new DomainName { Value = new List<byte> { 6, 7, 8 } },
            };

            var wildcard = new ResourceRecord
            {
                RName = new DomainName { Value = new List<byte> { 0, 2, 1 } },
                RType = RecordType.A,
                RData = new DomainName { Value = new List<byte> { } },
            };

            var wildcard1 = new ResourceRecord
            {
                RName = new DomainName { Value = new List<byte> { 0, 2, 1, 4 } },
                RType = RecordType.A,
                RData = new DomainName { Value = new List<byte> { } },
            };

            var zn = new Zone { Records = new List<ResourceRecord> { soa, ns, wildcard, wildcard1 } };
            Assert.IsTrue(function.Evaluate(zn));

            var relevant = Function<Query, Zone, IList<ResourceRecord>>(ServerModel.GetRelevantRRs);
            var result = relevant.Evaluate(new Query { QName = new DomainName { Value = new List<byte> { 0, 2, 1, 5 } }, QType = RecordType.A }, zn);
            Assert.IsTrue(result.Count() == 1);
            Assert.IsTrue(wildcard.Equals(result.First()));

            var serverfunction = Function<Query, Zone, Option<Response>>(ServerModel.ServerLookup);
            var response = serverfunction.Evaluate(new Query { QName = new DomainName { Value = new List<byte> { 0, 2, 1, 5 } }, QType = RecordType.A }, zn);
            Assert.IsTrue(response.HasValue);
            var v = response.Value;
            Assert.IsTrue(v.ResTag == Tag.R2);
        }
```

The zone corresponds:
| | | | |
|---|---|---|---|
|a.x.|  IN |  SOA|  |
|a.x.|  IN |  NS| g.h.i |
|*.a.x|  IN |  A|  |
|b.*.a.x|  IN |  A|  |

The mapping is `a.x` is `0, 2` in reverse, so `a` corresponds to `2`.  Check [this](https://github.com/dns-groot/Ferret/blob/main/TestGenerator/Authoritative/DomainName.cs#L19) for details of our encoding. 

The query that I gave was `0, 2, 1, 5` which translates to `reverse(x.a.*.c)` which is `c.*.a.x`. 
As you can see our server lookup function returns the response with a tag `R2` which corresponds to the `NXDOMAIN` tag and is in *accordance with the RFC*. Tag details are [here](https://github.com/dns-groot/Ferret/blob/main/TestGenerator/Authoritative/Response.cs#L62) and [here](https://github.com/dns-groot/Ferret/tree/main/TestGenerator#valid-zone-file-tests). 

I really appreciate you trying out our tool and thinking of these subtle cases, but I would also advise you to also try them using test cases as I pasted above.  You can add the above function to any of the test files in the [test folder](https://github.com/dns-groot/Ferret/tree/main/TestGenerator/Tests) and you can use [these](https://github.com/dns-groot/Ferret/tree/main/TestGenerator#installation) steps to run the tool and tests. 

_Details:_ The reason our server lookup doesn't consider this as wildcard match is because in our  [function](https://github.com/dns-groot/Ferret/blob/main/TestGenerator/Authoritative/Utils.cs#L64)that checks if a domain `d1` is a wildcard match to another domain `d2`  we have: `𝑑1 ∈∗ 𝑑2 = (|𝑑2 | ≤ |𝑑1 |) ∧ (𝑑1 ≃(|𝑑2 |−1) 𝑑2) ∧ 𝑑1 [ |𝑑2 | ] ≠ ∗ = 𝑑2 [ |𝑑2 | ]`, which says that `d1` which in our case is the query domain name `c.*.a.x` should not have a `*` at the index of the length of the `d2` which is `*.a.x`,  but it has `*` so this will not be a wildcard match. 